.nav
{ 
  width: 40% ;

}
.nav ul 
{ 
    display:  flex ;
    flex-direction: row ;
    align-items:  center ;
    justify-content: space-between ;
    margin: 0 ;
    padding: 0;
}
.nav ul a 
{ 
    font-size: 30px ;
}